<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper
	namespace="edu.sqa.finalproject.poorstudentmis.mapper.QuestionMapper">
	<select id="getAllQuestion" resultType="edu.sqa.finalproject.poorstudentmis.entity.Question">
		select q.q_id, q.sid, q.title, q.content, q.time, q.r_content, q.r_reviewer, q.r_time, q.tag_id, t.name as tag_name
		from question_table q join tag t
		on q.tag_id=t.id
		order by time desc
	</select>
	<select id="getAllQuestionById" resultType="edu.sqa.finalproject.poorstudentmis.entity.Question">
		select * from question_table 
		where sid = #{sid}
		order by time desc
	</select>
	<insert id="insertQ">
		insert into question_table
		(sid, title, content,time)
		values(#{sid}, #{title}, #{content},#{time})
	</insert>
 
	<select id="getQuestionById" resultType="edu.sqa.finalproject.poorstudentmis.entity.Question">
		select * from question_table where q_id=#{q_id}
	</select>
	<delete id="delById">
		delete from question_table where q_id=#{q_id}
	</delete>
	
	<delete id="delAll">
		delete from question_table
	</delete>
	<update id="modifyReply">
		update question_table
		set r_content=#{r_content}, r_reviewer=#{name}
		where q_id=#{q_id}
	</update>
	<select id="getAllTag" resultType="edu.sqa.finalproject.poorstudentmis.entity.Tag">
		select * from tag
	</select>
	<select id="getTagById" resultType="edu.sqa.finalproject.poorstudentmis.entity.Tag">
		select * from tag where id=#{id}
	</select>	
	<select id="getQuestionByTagId" resultType="edu.sqa.finalproject.poorstudentmis.entity.Question">
		select * from question_table where tag_id=#{tag_id}
	</select>
	
</mapper>