<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper
	namespace="edu.sqa.finalproject.poorstudentmis.mapper.StarMapper">
	<select id="getAllStar" resultType="edu.sqa.finalproject.poorstudentmis.entity.Star">
		select * from star order by is_top desc,star_time  desc limit 7 
	</select>
	<select id="getAllStarById" resultType="edu.sqa.finalproject.poorstudentmis.entity.Star">
		select * from star 
		where s_id = #{s_id}
		order by is_top desc,star_time  desc limit 7 
	</select>
	<insert id="save">
		insert into star(s_id,a_id,a_title,star_time,is_top)
		values
		(#{s_id},#{a_id},#{a_title},#{star_time},#{is_top})
	</insert>
	<select id="findBySidAndAid" resultType="edu.sqa.finalproject.poorstudentmis.entity.Star">
		select * from star where s_id=#{s_id} and a_id=#{a_id}
	</select>
</mapper>