<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper
	namespace="edu.sqa.finalproject.poorstudentmis.mapper.StudentMapper">
	<insert id="insert">
		insert into stu
		values(
		#{s_id},#{s_name},#{s_nation},#{s_sex},
		#{s_birth},#{s_major},#{s_phone},
		#{s_address},#{s_income},
		#{s_res},#{s_info},#{s_other})
	</insert>
	<select id="findById"
		resultType="edu.sqa.finalproject.poorstudentmis.entity.Student">
		select * from stu where s_id=#{id}
	</select>
	<update id="modify">
		update stu
		set s_nation=#{s_nation}, s_sex=#{s_sex}, s_birth=#{s_birth},
			s_major=#{s_major}, s_phone=#{s_phone}, s_address=#{s_address},
			s_res=#{s_res}, s_info=#{s_info}, s_other=#{s_other}
		where s_id=#{s_id}
	</update>
	<select id="getStuList"
		resultType="edu.sqa.finalproject.poorstudentmis.entity.Student">
		select * from stu
	</select>
		<delete id="delAll">
		delete from stu
	</delete>
	<delete id="delById">
		delete from stu where s_id=#{s_id}
	</delete>
	<update id="reset">
			alter table stu auto_increment=1
	</update>
	<update id="changeISps">
		update stu
		set s_isps = 1
		where s_id=#{s_id}
	</update>
</mapper>