<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper
	namespace="edu.sqa.finalproject.poorstudentmis.mapper.VolApplyMapper">
	<insert id="save">
		insert into v_apply
		(sid, vid, va_time, va_flag,
		va_reviewer)
		values(#{sid}, #{vid}, #{va_time}, #{va_flag},
		#{va_reviewer})
	</insert>
	<select id="getAllVolById"
		resultType="edu.sqa.finalproject.poorstudentmis.entity.VolVO">
		select va.va_flag, va.va_reviewer, v.vid, v.name,
		v.abs, v.etime
		from user u inner join v_apply va inner join vol_table v
		on u.u_id=va.sid and v.vid=va.vid
		where va.sid=#{u_id}
		order by
		va.va_flag desc
	</select>
</mapper>