<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper
	namespace="edu.sqa.finalproject.poorstudentmis.mapper.WorkApplyMapper">
	<insert id="save">
		insert into w_apply
		(sid, fid, wa_time, wa_flag,
		wa_reviewer)
		values(#{sid}, #{fid}, #{wa_time}, #{wa_flag},
		#{wa_reviewer})
	</insert>
	<select id="getAllApplyWorkById"
		resultType="edu.sqa.finalproject.poorstudentmis.entity.WorkVO">
		select wa.wa_flag, wa.wa_reviewer, w.w_id, w.w_name,
		w.w_abs, w.w_time
		from user u join w_apply wa join work w
		on
		u.u_id=wa.sid and w.w_id=wa.fid
		where wa.sid=#{u_id}
		order by wa.wa_flag
		desc
	</select>
	<select id="getAllVerifyWork"
		resultType="edu.sqa.finalproject.poorstudentmis.entity.WorkVerify">
		select wa.wa_id, w.w_name, u.u_name, wa.wa_flag, wa.wa_reviewer
		from user u join w_apply wa join work w
		on u.u_id=wa.sid and w.w_id=wa.fid
		order by wa.wa_flag
	</select>
		<update id="verify">
		update w_apply
		set wa_flag=1, wa_reviewer=#{name}
		where wa_id=#{id}
	</update>
	<update id="verifyAll">
		update w_apply
		set wa_flag=1, wa_reviewer=#{name}
		where wa_flag=0
	</update>
	<!-- <select id="findById" resultType="edu.sqa.finalproject.poorstudentmis.entity.Fund"> -->
	<!-- select * from fund where f_id=#{id} -->
	<!-- </select> -->
	<!-- <select id="getFundList" resultType="edu.sqa.finalproject.poorstudentmis.entity.Fund"> -->
	<!-- select * from fund order by f_time desc -->
	<!-- </select> -->
	<!-- <delete id="delAll"> -->
	<!-- delete from fund -->
	<!-- </delete> -->
	<!-- <delete id="delById"> -->
	<!-- delete from fund where f_id=#{id} -->
	<!-- </delete> -->
	<!-- <update id="reset"> -->
	<!-- alter table fund auto_increment=1 -->
	<!-- </update> -->
</mapper>