<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="mis/fragments::html_head">
<meta charset="utf-8">
</head>

<body data-type="widgets" class="theme-white">
	<div class="am-g tpl-g">
		<!-- 头部 -->
		<header th:replace="mis/fragments::header"></header>
		<!-- 侧边导航栏 -->
		<div class="left-sidebar" th:replace="mis/fragments::sidebar"></div>


		<!-- 内容区域 -->
		<div class="tpl-content-wrapper">

			<div class="row-content am-cf">

				<div class="row">
					
				</div>

			</div>
		</div>
	</div>
</body>

</html>