<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="mis/fragments::html_head">
	<meta charset="utf-8">
</head>

<body data-type="widgets" class="theme-white">
	<!-- 遮盖层 -->
	<div class="black_overlay" id="bo"></div>
	<div class="m1" id="m1">
		<div class="d1">
			<span>确定要删除该问题吗？</span>
		</div>
		<div class="d2">
			<button id="m1_sure">确定</button>
			<button id="m1_cancel">取消</button>
		</div>
	</div>

	<div class="modal_edit" id="m2" style="height: 250px; width: 500px; overflow-y: auto;">
		<form class="am-form am-form-horizontal" id="reply_form" enctype="multipart/form-data" method="post"
			style="padding-top: 30px;">
			<div class="am-form-group">
				<label for="notice" class="am-u-sm-3 am-form-label"> 回答 </label>
				<div class="am-u-sm-9">
					<textarea id="r_content" rows="7" cols="50" placeholder="请输入回答内容" name="r_content"></textarea>
				</div>
			</div>

			<div class="am-form-group">
				<div class="am-u-sm-9 am-u-sm-push-3">
					<input id="me_upload" class="am-btn am-btn-success close" value="确认" type="button"> <input
						type="button" id="me_cancel" class="am-btn am-btn-success close"
						style="background-color: red; border: red" value="取消"> <span id="message"
						style="color: red"></span>
				</div>
			</div>
		</form>
	</div>
	<div class="am-g tpl-g">
		<!-- 头部 -->
		<header th:replace="mis/fragments::header"></header>
		<!-- 侧边导航栏 -->
		<div class="left-sidebar" th:replace="mis/fragments::sidebar"></div>


		<!-- 内容区域 -->
		<div class="tpl-content-wrapper">

			<div class="row-content am-cf">

				<div class="row">
					<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
						<div class="widget am-cf">
							<div class="widget-head am-cf">
								<div class="widget-title  am-cf">常见问题解答</div>
							</div>
							<div class="am-u-sm-12">
								<table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black "
									style="table-layout: fixed">
									<thead>
										<tr>
											<th>编号</th>
											<th>主题</th>
											<th>详情</th>
											<th>标签</th>
											<th>提问时间</th>
											<th>问题状态</th>
											<th>审核人</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="q:${questions}" class="gradeX">
											<td th:text=${q.q_id} class="am-text-middle">Amaze UI
												模式窗口</td>
											<td th:text=${q.title} class="am-text-middle">Amaze UI
												模式窗口</td>
											
											<td th:text=${q.content}
												style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap"
												class="am-text-middle">张鹏飞</td>
											<td th:text=${q.tag_name} class="am-text-middle"></td>
											<td th:text=${q.time} class="am-text-middle">2016-09-26</td>
											<td th:if="${q.r_reviewer}" class="am-text-middle">已回答</td>
											<td th:unless="${q.r_reviewer}" class="am-text-middle">未回答</td>
											<td th:text=${q.r_reviewer} class="am-text-middle">2016-09-26</td>
											<td class="am-text-middle">

												<div class="tpl-table-black-operation">
													<a href="javascript:;" th:attr="q_id=${q.q_id}"
														onclick="modify_reply(this)"> <i class="am-icon-pencil"></i>
														编辑回答
													</a> <a href="javascript:;" onclick="show_m1(this)"
														th:attr="q_id=${q.q_id}" class="tpl-table-black-operation-del">
														<i class="am-icon-trash"></i> 删除
													</a>
												</div>
											</td>
										</tr>

										<!-- more data -->
									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script src="assets/js/amazeui.min.js"></script>
	<script src="assets/js/app.js"></script>
	<script>
		function show_m1(e) {
			var q_id = $(e).attr("q_id")
			var black_overlay = $("#bo")
			var m1 = $("#m1")
			var sure = $("#m1_sure")
			var cancel = $("#m1_cancel")
			sure.one("click", function () {
				window.location.href = "handle_question_del?q_id=" + q_id;
			});
			cancel.on("click", function () {
				black_overlay.hide();
				m1.hide();
			});
			black_overlay.show();
			m1.show();
		}
		function modify_reply(e) {
			var q_id = $(e).attr("q_id")
			var black_overlay = $("#bo")
			var m2 = $("#m2")
			$("#m2").show();
			black_overlay.show();
			$.ajax({
				type: "get",
				url: "show_reply",
				dataType: "json",
				data: {
					q_id: q_id,
				},
				success: function (json) {
					$("#r_content").val(json.r_content)
				}
			});
			var upload = $("#me_upload")
			var cancel = $("#me_cancel")
			upload.on("click", function (e) {
				// 2. 用户可能修改了信息表，进行修改操作
				var r_content = $("#r_content").val()
				$.ajax({
					type: "post",
					url: "modify_reply",
					dataType: "json",
					data: {
						q_id: q_id,
						r_content: r_content
					},
					success: function (json) {
						alert("修改成功！")
						location.reload()
					}
				});
				e.preventDefault();
			})
			cancel.on("click", function (e) {
				black_overlay.hide();
				$("#m2").hide();
				e.preventDefault();
			});
		}
	</script>
</body>

</html>