<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="mis/fragments::html_head">
	<meta charset="utf-8">
</head>

<body data-type="widgets" class="theme-white">
	<!-- 遮盖层 -->
	<div class="black_overlay" id="bo"></div>
	<div class="m1" id="m1">
		<div class="d1">
			<span>你正在删除该学生的信息，是否继续？</span>
		</div>
		<div class="d2">
			<button id="m1_sure">确定</button>
			<button id="m1_cancel">取消</button>
		</div>
	</div>
	<div class="am-g tpl-g">
		<!-- 头部 -->
		<header th:replace="mis/fragments::header"></header>
		<!-- 侧边导航栏 -->
		<div class="left-sidebar" th:replace="mis/fragments::sidebar"></div>


		<!-- 内容区域 -->
		<div class="tpl-content-wrapper">

			<div class="row-content am-cf">

				<div class="row">
					<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
						<div class="widget am-cf">
							<div class="widget-head am-cf">
								<div class="widget-title  am-cf">学生信息管理</div>


							</div>
							<div class="widget-body  am-fr">

	


								<div class="am-u-sm-12">
									<table width="100%"
										class="am-table am-table-compact am-table-striped tpl-table-black ">
										<thead>
											<tr>
												<th>学号</th>
												<th>头像</th>
												<th>姓名</th>
												<th>性别</th>
												<th>专业</th>
												<th>电话</th>
												<th>积分</th>
												<th>操作</th>

											</tr>
										</thead>
										<tbody>

											<tr th:each="s:${stus}" class="gradeX">
												<td th:text=${s.stu_id} class="am-text-middle">172219605220</td>
												<td><img th:src="${s.avatar_url}" style="height:50px"></td>
												<td th:text=${s.s_name} class="am-text-middle">钱聿豪</td>
												<td th:text=${s.s_sex} class="am-text-middle">男</td>
												<td th:text=${s.s_major} class="am-text-middle">软件工程</td>
												<td th:text=${s.s_phone} class="am-text-middle">13776165288</td>
												<td th:text=${s.score} class="am-text-middle">13776165288</td>
			
												<td class="am-text-middle">
													<div class="tpl-table-black-operation">
														 <a href="javascript:;"
															class="tpl-table-black-operation-del"
															th:attr="s_id=${s.stu_id}" onclick="show_m1(this)"> <i
																class="am-icon-trash"></i> 删除
														</a>
													</div>
												</td>
											</tr>

											<!-- more data -->
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script src="assets/js/amazeui.min.js"></script>
	<script src="assets/js/app.js"></script>
	<script>
		function show_m1(e) {
			var s_id = $(e).attr("s_id")
			console.log(s_id)
			var black_overlay = $("#bo")
			var m1 = $("#m1")
			var sure = $("#m1_sure")
			var cancel = $("#m1_cancel")
			sure.one("click", function () {
				window.location.href = "del_stu?s_id=" + s_id;
			});
			cancel.on("click", function () {
				black_overlay.hide();
				m1.hide();
			});
			black_overlay.show();
			m1.show();
		}
		
	</script>
</body>

</html>