<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="article/fragments::html_head">
	<meta charset="utf-8">
</head>
<body>

   <ul th:replace="user/shareNav::nav"></ul> 
  	</ul>
    <div class="layui-container" style="margin-top:20px">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
    
          <div class="fly-panel" style="margin-bottom: 0;">
            
            <div class="fly-panel-title fly-filter">
              <a>根据关键字"<b th:text=${keyword}>机器学习</b>"&nbsp;&nbsp;查询结果</a>
            </div>
    
            <ul class="fly-list">  
            <li th:if="${#lists.isEmpty(as)}">Oooops...文章库中不存在该关键字</li>        
			<li th:each="a:${as}">
                <a class="fly-avatar">
                  <img th:src="${a.avatar_url}" src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="贤心">
                </a>
                <h2>
                  <a  th:href="@{'detail?id=' + ${a.id}}" th:text="${a.title}">基于 layui 的极简社区页面模版</a>
                </h2>
                <div class="fly-list-info">
                  <a href="user/home.html" link>
                    <cite th:text="${a.s_name}">Yuhao Qian</cite>
                  </a>
                  <span th:text="${a.created_time}">2021-01-09 15:26</span>
                  <span>
                    <i class="iconfont icon-liulan1" title="回答"></i> 
                 <i class="iconfont" title="人气">&#xe60b;</i>&nbsp;<span th:text=${a.views}></span>
                  </span>           
                </div>
              </li>
              
            </ul>

    
          </div>
        </div>
        <div th:replace="article/fragments::right_top">
         </div>
        <div th:replace="article/fragments::right_bottom">
        </div>
      </div>
    </div>
<script src="assets/layui/layui.js"></script>

<script src="js/jquery-1.12.4.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('element', function(){
    var $ = layui.jquery
    ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

    //触发事件
    var active = {
        tabAdd: function(){
        //新增一个Tab项
        element.tabAdd('demo', {
            title: '新选项'+ (Math.random()*1000|0) //用于演示
            ,content: '内容'+ (Math.random()*1000|0)
            ,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
        })
        }
        ,tabDelete: function(othis){
        //删除指定Tab项
        element.tabDelete('demo', '44'); //删除：“商品管理” 
        othis.addClass('layui-btn-disabled');
        }
        ,tabChange: function(){
        //切换到指定Tab项
        element.tabChange('demo', '22'); //切换到：用户管理
        }
    };

    $('.site-demo-active').on('click', function(){
        var othis = $(this), type = othis.data('type');
        active[type] ? active[type].call(this, othis) : '';
    });

    //Hash地址的定位
    var layid = location.hash.replace(/^#test=/, '');
    element.tabChange('test', layid);

    element.on('tab(test)', function(elem){
        location.hash = 'test='+ $(this).attr('lay-id');
    });

    });
</script>

	<script>
		layui.use('element', function() {
			element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
		});
	</script>
</body>
</html>