h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html,body{	
	font-family:OpenSans-Regular;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
@font-face{
   font-family: MeriendaOne-Regular;
    src: url(../fonts/MeriendaOne-Regular.ttf) format('truetype');
}
@font-face{
   font-family:OpenSans-Regular;
	 src: url(../fonts/OpenSans-Regular.ttf) format('truetype');
}

.header {
  padding: 0em 5em;
  background-color:#0b648f;
}
.logo {
  float: left;
  width: 330px;
  padding: 1em 2em;
  background-color: #004161;
}
.logo h1 a {
  color: #fff;
  font-family: MeriendaOne-Regular;
  text-decoration: none;
  font-size: 1em;
}
.logo h1{
	margin:0;
}
.header-top {
  float: right;
  width:68%;
}
.head-nav {
  float: left;
  width: 94%;
}
.sponsor,.late,.latest{
	cursor: pointer;
}
/*-- head-nav --*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color:#e21737;
}
.navbar-default {
  background-color:#0b648f ! important;
  border-color: #0b648f! important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #e21737;
}
.navbar-nav > li > a {
  padding: 1.6em 1.3em;
  font-size: 1em;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar {
  margin-bottom: 0px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
.navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
}
.navbar-nav > li > a {
  line-height: 23px;
}
.navbar {
  border: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #e21737;
}
.nav > li {
  font-family: MeriendaOne-Regular;
}
.our span {
  font-size: 3em;
  color: #e21737;
  font-weight: 700;
}
.our p {
  color: #999;
  font-size: 1em;
  line-height: 1.8em;
}
.footer li {
  display: inline-block;
  margin-left: 210px;
}
.footer ul {
  padding: 0;
}
.footer {
  height: 80px;
  background-color: #0b648f;
  padding: 1.5em 0em;
  color: #96CFEA;
}
.footer a {
  color: #96CFEA;
 text-decoration:none;
}
.footer p a:hover{
color:#e21737;
}
.footer-bottom{
	text-align: center;
	margin-top: 10px;
}


/* Shutter In Horizontal */
.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #0b648f;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 1.1em;
  color:#fff;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e21737;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
  color: white;
  text-decoration: none;
}
.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.more:hover{
	background: #fff;
	color:#000;
}

/*-- news -- */
.Lat-lft {
  float: left;
  width: 47%;
}
.Lat-rgt {
  float: right;
  width: 50%;
}
.Latest  h6 {
  font-size: 1.1em;
  color: #999;
  font-style: italic;
  margin: 0;
}
.Latest h4 {
  font-size: 1.3em;
  font-weight: 700;
  margin: 0.5em 0;
  color: #0b648f;
  font-family: MeriendaOne-Regular;
}
.Latest  p {
  color: #999;
  font-size: 1em;
  line-height: 1.8em;
  margin:1em 0;
}
.Latest h3 {
  font-size: 2em;
  color: #000;
  margin: 0 0 1em;
  text-align: center;
  font-weight: 700;
  font-family: MeriendaOne-Regular;
}
.late-bootm img {
  margin-bottom: 1.5em;
}
.Latest {
  padding: 4em 0;
}
.lat-top {
  margin: 0 0 2em;
}
.late-bootm {
  margin: 4em 0;
}
.sponsor {
  margin: 0 0 3em;
  text-align: center;
}

.camp {
  margin: 6em 0 0;
}


/*-- responsive-mediaquries --*/
@media(max-width:1440px){
.navbar-nav > li > a {
  padding: 1.86em 1.3em;
}
.logo {
  width:16%;
}
.header-top {
  float: right;
  width: 71%;
}
}
/*-- responsive-mediaquries --*/
@media(max-width:1366px){

.logo {
  width: 17%;
}
.header-top {
  float: right;
  width: 72%;
}
}
/*-- responsive-mediaquries --*/
@media(max-width:1310px){
}
/*-- responsive-mediaquries --*/
@media(max-width:1280px){
.logo {
  width: 16%;
  padding: 1.15em 1.2em;
}
.header-top {
  float: right;
  width: 75%;
}
}
/*-- responsive-mediaquries --*/
@media(max-width:1205px){
.navbar-nav > li > a {
  padding: 2.2em 1.2em;
  font-size: 1.1em;
}
.header-top {
  width: 81%;
}
}
/*-- responsive-mediaquries --*/
@media(max-width:1024px){
.logo {
  width: 19%;
}
.header {
  padding: 0em 3em;
}
.header-top {
  float: right;
  width: 73%;
}
.head-nav {
  float: left;
  width: 87%;
}
.navbar-nav > li > a {
  padding: 2.2em 1.1em;
  font-size: 1.1em;
}
.footer h3 {
  font-size: 1.4em;
}
.footer {
  background-color: #0b648f;
  padding: 3em 0;
}
.Latest h3 {
  font-size: 1.7em;
}
.Latest {
  padding: 3em 0;
}
.sponsor {
  margin: 0 0 1em;
}
.late-bootm {
  margin: 2em 0;
}
.about h2 {
  font-size: 1.7em;
}
.about {
  padding: 3em 0;
  
}
.about h3 {
  font-size: 1.7em;
}
.about h5, .about h4 {
  font-size: 1.1em;
}
.donate {
  margin: 2em 0;
}
.banner {
  min-height: 558px;
}
.founder h3 {
  font-size: 1.7em;
}
.founder h4 {
  font-size: 1.5em;
}
.founder {
  padding: 2em 0;
  text-align: center;
}
.deffence h3 {
  font-size: 1.5em;
}
.video h3, .our h3, .co-ntact h3, .team h3 {
  font-size: 1.7em;
}
.team h4 {
  font-size: 1.3em;
}
.video, .our, .co-ntact, .team {
  padding: 2em 0;
}
.our span {
  font-size: 2.5em;
}
}
/*-- responsive-mediaquries --*/
@media(max-width:985px){
.navbar-nav > li > a {
  padding: 2.42em 0.7em;
  font-size: 1em;
}
/*-- responsive-mediaquries --*/
@media(max-width:768px){
.logo {
  width: 23%;
  padding: 1.3em 1.3em;
}
.header {
  padding: 0em 0em;
}
.header-top {
  float: right;
  width: 71%;
}
.head-nav {
  float: left;
  width: 85%;
}
.navbar-nav > li > a {
  padding: 2.42em 0.7em;
  font-size: 1em;
}
.head-nav {
  float: left;
  width: 85%;
}
.head-nav {
  float: left;
  width: 85%;
}
.video, .our, .co-ntact, .team {
  padding: 2em 0 2em;
}
.footer-left {
  float: left;
  width: 25%;
}

.Latest-top {
  float: left;
  width: 50%;
}
.Lat-lft {
  float: none;
  width: 100%;
}
.Lat-rgt {
  float: none;
  width: 100%;
  margin: 1em 0 0;
}
.nw-top {
  float: left;
  width: 33.33%;
}
.late-bootm {
  margin: 3em 0;
}
.abou-left {
  text-align: center;
  margin: 0 0 1em;
}
.abt-btm {
  margin: 2em 0;
}
.label {
  padding: .2em 0.4em .3em;
}
.label {
  font-size: 61%;
}
.logo h1 a {
  font-size: 1.4em;
}
-na input[type="text"], .booking-form textarea {
  padding: 4px;
}

.card input[type="text"], .booking-form textarea {
  padding: 3px;
}
select.arrival {
  width: 30%;
  padding: 5px;
}
.button-9 input[type="submit"] {
  margin-top: 10px;
  padding: 7px 17px;
}
.banner {
  min-height: 513px;
}
.donate {
  width: 50%;
}
.deffence-rgt {
  float: left;
  width: 33.33%;
}
.team-rgt {
  float: left;
  width: 33.33%;
}
.our-tp {
  margin: 0 0 1.5em;
}
}
/*-- responsive-mediaquries --*/
@media(max-width:767px){
.head-nav {
  float: left;
  width: 100%;
  text-align: center;
}
.navbar-toggle {
  padding: 9px 10px;
  margin-top: 28px;
  margin-bottom: 0px;
  margin-right:346px;
  background-color: transparent;
}
.header-top {
  float: right;
  width: 100%;
}
.navbar {
  position: relative;
  min-height: 0px;
  margin-bottom: 0px;
  border: none;
}
.navbar-toggle {
  margin-top: -62px;
}
.navbar-nav > li > a {
  padding: 0.8em 0em;
  font-size: 1em;
}
.navbar-nav .open .dropdown-menu {
  text-align: center;
}
.header {
  background-color:#004161;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #004161;
}
.navbar-nav {
  margin: 7.5px 0px;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin-right: 0px;
  margin-left: 0px;
}
}
/*-- responsive-mediaquries --*/
@media(max-width:640px){
.footer li {
  margin: 0 0.5em;
}
.Latest h4 {
  font-size: 1.2em;
}
.Latest h3 {
  font-size: 1.5em;
}
.logo {
  width: 27%;
}
.our span {
  font-size: 2.5em;
}
.navbar-toggle {
  margin-right: 287px;
}
}
/*-- responsive-mediaquries --*/
@media(max-width:480px){
.logo {
  width: 37%;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin-right: 0px;
  margin-left: 0px;
}
.navbar-toggle {
  margin-right: 207px;
}

.to {
  width: 100%;
}
.text {
  width: 100%;
}
.form-submit input[type="submit"] {
  font-size: 0.85em;
  padding: 8px 24px;
}
.text input[type="text"], .text textarea {
  height: 125px;
}

.to input[type="text"] {
  width: 100%;
}

/*-- responsive-mediaquries --*/
@media(max-width:320px){
.logo {
  width: 39%;
  padding: 0.95em 0.8em;
}
.navbar-toggle {
  margin-top: -50px;
  margin-right:128px;
}
.contact iframe {
  height: 160px;
}
.video, .our, .co-ntact, .team {
  padding: 1em 0 1em;
}

.Buttons a {
  text-decoration: none;
}

.footer{
	height: 80px;
	color: #96CFEA;
}
.footer-bottom{
	color: #96CFEA;
}
.col-md-6 oaks ul{
	width: 400px;
	height: 500px;
	font-size: larger;
}
.work-info{
	width: 400px;
	height: 500px;	
}
.work-info li{
	width: 400px;
	height: 20px;	
}	
