<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>this is page 'add fund'</h1>
	<form action="handle_add_fund" enctype="multipart/form-data" method="post">
		<table>
			<tr>
				<td>项目名称</td>
				<td><input type="text" name="f_name"></td>
			</tr>
			<tr>
				<td>项目简介</td>
				<td><input type="text" name="f_abs"></td>
			</tr>
			<tr>
				<td>项目金额</td>
				<td><input type="text" name="f_amount"></td>
			</tr>

			<tr>
				<td>项目图片</td>
				<td><input type="file" name="f_img" accept="image/*"></td>
			</tr>
		</table>
		<input type="submit" value="Upload" />
	</form>
</body>
</html>