<!DOCTYPE HTML>
<html>

	<head>
		<title>资助项目</title>
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
		<link href="css/fund.css" rel='stylesheet' type='text/css' />
		<link rel="alternate icon" type="image/png" href="img/favicon.png">
		<link rel="stylesheet" href="css/index.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type='text/javascript' src="js/jquery-1.11.1.min.js"></script>
	</head>

	<body>
		<!-- header -->
		<div class="header">
			<div class="logo">
				<h1><a href="index.html">大学生助学</a></h1>
			</div>
			<!-- start header menu -->
			<div class="header-top">
				<div class="head-nav">
					<nav class="navbar navbar-default">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a href="index.html">首页 </a></li>
									<li class="active"><a href="fund.html">资助项目</a></li>
									<li><a href="work.html">勤工俭学</a></li>
									<li><a href="policy.html">政策解读</a></li>
									<li><a href="application.html">查看申请项目</a></li>
									<li><a href="userInfo.html">个人信息</a></li>
									<a href="login.html" class="am-btn am-btn-secondary" id="btn-login">登录</a>
								</ul>
								<div class="h_search">
									<form>
										<input type="text" class="text" value="请输入关键词..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter text here';}">
										<input type="submit" value="搜索">
									</form>
								</div>
							</div>
						</div>
					</nav>
				</div>
				<div class="search-box">
					<div id="sb-search" class="sb-search">

					</div>
				</div>
				<div class="clearfix"> </div>

			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- header -->
		<!-- our -->
		<div class="Latest">
			<div class="container">
				<h3><a class="latest">最新资助项目</a></h3>
				<div class="lat-top">
					<div class="col-md-6 Latest-top">
						<div class="Lat-lft">
							<img src="img/2.jpg" class="img-responsive" alt="" />
						</div>
						<div class="Lat-rgt">
							<h6>July 27, 2015</h6>
							<h4>Dis parturient montes</h4>
							<p>Assum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 Latest-top">
						<div class="Lat-lft">
							<img src="img/10.jpg" class="img-responsive" alt="" />
						</div>
						<div class="Lat-rgt">
							<h6>July 27, 2015</h6>
							<h4>Dis parturient montes</h4>
							<p>Assum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="lat-top">
					<div class="col-md-6 Latest-top">
						<div class="Lat-lft">
							<img src="img/4.jpg" class="img-responsive" alt="" />
						</div>
						<div class="Lat-rgt">
							<h6>July 27, 2015</h6>
							<h4>Dis parturient montes</h4>
							<p>Assum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 Latest-top">
						<div class="Lat-lft">
							<img src="img/5.jpg" class="img-responsive" alt="" />
						</div>
						<div class="Lat-rgt">
							<h6>July 27, 2015</h6>
							<h4>Dis parturient montes</h4>
							<p>Assum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="late-bootm">
					<h3><a class="late">以往资助项目</a></h3>
					<div class="col-md-4 nw-top">
						<img src="img/6.jpg" class="img-responsive" alt="" />
						<h6>July 27, 2015</h6>
						<h4>Dis parturient montes</h4>
					</div>
					<div class="col-md-4 nw-top">
						<img src="img/9.jpg" class="img-responsive" alt="" />
						<h6>July 27, 2015</h6>
						<h4>Dis parturient montes</h4>
					</div>
					<div class="col-md-4 nw-top">
						<img src="img/8.jpg" class="img-responsive" alt="" />
						<h6>July 27, 2015</h6>
						<h4>Dis parturient montes</h4>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="sponsor">
					<h3><a>如何申请资助项目?</a></h3>
					<P>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Morbi nunc odio, gravida at, cursus nec,
						luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amt, consectetuer adipiscing elit.</P>
					<a class="hvr-shutter-in-horizontal" href="#">了解更多</a>
				</div>
			</div>
		</div>
		<!-- our -->
		<!-- footer -->
		<footer class="footer">
			<div class="footer-container">
				<ul>
					<li>
						联系电话:<a href="">4008208820</a>
					</li>
					<li>
						电子邮箱:<a href="">12345678@qq.com</a>
					</li>
					<li>
						联系地址:<a href="">江苏省张家港市杨舍镇长兴中路八号</a>
					</li>

				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="footer-bottom">
				<p>Copyright &copy; 2020. SQA 小宇宙 版权所有</p>
			</div>
		</footer>
		<!-- footer -->
		<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span> <span id="toTopHover" style="opacity: 0;"> </span></a>
	</body>

</html>