<!DOCTYPE html>
<html>
<head lang="en">
<title>首页</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="alternate icon" type="image/png" href="img/favicon.png">
<link rel="stylesheet" href="css/amazeui.min.css" />
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/fund.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/index.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
	<!-- header -->
	<div class="header">
		<div class="logo">
			<h1>
				<a href="index.html">大学生助学</a>
			</h1>
		</div>
		<!-- start header menu -->
		<div class="header-top">
			<div class="head-nav">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse"
								data-target="#bs-example-navbar-collapse-1"
								aria-expanded="false">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
						</div>
						<div class="collapse navbar-collapse"
							id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="active"><a href="home">首页 </a></li>
								<li><a href="show_fund">资助项目</a></li>
								<li><a href="work.html">勤工俭学</a></li>
								<li><a href="policy.html">政策解读</a></li>
								<li th:attr="style=${notLogin}"><a href="application.html">查看申请项目</a></li>
								<li th:attr="style=${notLogin}"><a th:href="@{'stu_info?s_id=' + ${s_id}}">个人信息</a></li>
								
								<a th:attr="style=${Login}" href="login" id="btn-login">登录</a>
							</ul>
							<div class="h_search">
								<form>
									<input type="text" class="text" value="请输入关键词..."
										onfocus="this.value = '';"
										onblur="if (this.value == '') {this.value = 'Enter text here';}">
									<input type="submit" value="搜索">
								</form>
							</div>
						</div>
					</div>
				</nav>
			</div>

		</div>
		<div class="clearfix"></div>
	</div>
	<!-- header -->

	<div class="get">
		<div class="am-container">
			<h1 class="get-title">JUST高校贫困生信息管理系统</h1>

			<p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXx</p>

			<p>
				<a href="stu_manage" th:attr="style=${pos}"
					class="am-btn am-btn-primary">进入后台</a>
			</p>
		</div>
	</div>

	<div class="detail">
		<div class="am-container">
			<h2 class="detail-h2">项目亮点</h2>

			<div class="am-g">
				<div class="am-u-sm-3 detail-mb">

					<h3 class="detail-h3">
						<i class="am-icon-mobile am-icon-sm"></i> 资助项目
					</h3>

					<p class="detail-p">资助项目资助项目资助项目资助项目资助项目资助项目资助项目资助项目资助项目资助项目</p>
				</div>
				<div class="am-u-sm-3 detail-mb">
					<h3 class="detail-h3">
						<i class="am-icon-cogs am-icon-sm"></i> 勤工助学
					</h3>

					<p class="detail-p">
						勤工助学勤工助学勤工助学勤工助学勤工助学勤工助学勤工助学勤工助学勤工助学勤工助学勤工助学</p>
				</div>
				<div class="am-u-sm-3 detail-mb">
					<h3 class="detail-h3">
						<i class="am-icon-check-square-o am-icon-sm"></i> 政策解读
					</h3>

					<p class="detail-p">政策解读政策解读政策解读政策解读政策解读政策解读</p>
				</div>
				<div class="am-u-sm-3 detail-mb">
					<h3 class="detail-h3">
						<i class="am-icon-send-o am-icon-sm"></i> 个人信息
					</h3>

					<p class="detail-p">个人信息个人信息个人信息个人信息个人信息个人信息个人信息个人信息个人信息个人信息</p>
				</div>
			</div>
		</div>
	</div>

	<div class="hope">
		<div class="am-g am-container">
			<div class="am-u-sm-6 hope-img">
				<img src="img/landing.png" alt=""
					data-am-scrollspy="{animation:'slide-left', repeat: false}">
				<hr class="am-article-divider am-show-sm-only hope-hr">
			</div>
			<div class="am-u-sm-6">
				<h2 class="hope-title">我们的核心技术</h2>

				<p>我们的核心技术我们的核心技术我们的核心技术我们的核心技术我们的核心技术我们的核心技术我们的核心技术我们的核心技术</p>
			</div>
		</div>
	</div>

	<div class="about">
		<div class="am-container">
			<h2 class="about-title about-color">小宇宙 崇尚开放、自由，非常欢迎大家提出宝贵意见</h2>

			<div class="am-g">
				<div class="am-u-sm-4">
					<form class="am-form">
						<label for="name" class="about-color">你的姓名</label> <input
							id="name" type="text"> <br /> <label for="email"
							class="about-color">你的邮箱</label> <input id="email" type="email">
						<br /> <label for="message" class="about-color">你的留言</label>
						<textarea id="message"></textarea>
						<br />
						<button type="submit" class="am-btn am-btn-primary am-btn-sm">
							<i class="am-icon-check"></i> 提 交
						</button>
					</form>
					<hr class="am-article-divider am-show-sm-only">
				</div>

				<div class="am-u-sm-8">
					<h4 class="about-color">关于我们</h4>

					<p>关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们关于我们</p>
					<h4 class="about-color">团队介绍</h4>
					<p>团队介绍团队介绍团队介绍团队介绍团队介绍团队介绍团队介绍团队介绍团队介绍团队介绍团队介绍</p>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<footer class="footer">
		<div class="footer-container">
			<ul>
				<li>联系电话:<a href="">4008208820</a>
				</li>
				<li>电子邮箱:<a href="">12345678@qq.com</a>
				</li>
				<li>联系地址:<a href="">江苏省张家港市杨舍镇长兴中路八号</a>
				</li>

			</ul>
		</div>
		<div class="clearfix"></div>
		<div class="footer-bottom">
			<p>Copyright &copy; 2020. SQA 小宇宙 版权所有</p>
		</div>
	</footer>
	<!-- footer -->

	<!--[if (gte IE 9)|!(IE)]><!-->
	<script src="js/jquery.min.js"></script>
	<!--<![endif]-->
	<script src="js/amazeui.min.js"></script>
	<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- 包括所有已编译的插件 -->
	<script src="js/bootstrap.min.js"></script>
		<script src="js/login.js"></script>
	<script>
	</script>
</body>

</html>