<!DOCTYPE HTML>
<html>
<head>
<title>政策解读</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/fund.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/userInfo.css" />
<link rel="alternate icon" type="image/png" href="img/favicon.png">
<link rel="stylesheet" href="css/policy.css" />
<link rel="stylesheet" href="css/index.css" />
<link rel="stylesheet" href="assets/css/mymodal.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type='text/javascript' src="js/jquery-1.11.1.min.js"></script>
<script type="application/x-javascript">
	
	
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		

</script>
</head>

<body>
	<!-- 遮盖层 -->
	<div class="black_overlay" id="bo"></div>
	<div class="m1" id="m1">
		<div class="d1" style="padding-top: 20px; border: 1px">
			<span>确定要申请该项目吗？^ _ ^</span>
		</div>
		<div class="d2" style="border: 1px">
			<button style="width: 50px; height: 40px;" id="m1_sure">确定</button>
			<button style="width: 50px; height: 40px" id="m1_cancel">取消</button>
		</div>
	</div>
	<!-- header -->
	<div class="header">
		<div class="logo">
			<h1>
				<a href="home">大学生助学</a>
			</h1>
		</div>
		<!-- start header menu -->
		<div class="header-top">
			<div class="head-nav">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse"
								data-target="#bs-example-navbar-collapse-1"
								aria-expanded="false">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
						</div>
						<div class="collapse navbar-collapse"
							id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="home">首页 </a></li>
								<li class="active"><a href="fund">资助项目</a></li>
								<li><a href="work">勤工俭学</a></li>
								<li><a href="policy">政策解读</a></li>
								<li th:attr="style=${notLogin}"><a href="application">查看申请项目</a></li>
								<li th:attr="style=${notLogin}"><a href="stu_info">个人信息</a></li>
								<a th:attr="style=${Login}" href="login" id="btn-login">登录</a>
							</ul>
							<div class="h_search">
								<form>
									<input type="text" class="text" value="请输入关键词..."
										onfocus="this.value = '';"
										onblur="if (this.value == '') {this.value = 'Enter text here';}">
									<input type="submit" value="搜索">
								</form>
							</div>
						</div>
					</div>
				</nav>
			</div>
			<div class="search-box">
				<div id="sb-search" class="sb-search"></div>
			</div>
			<div class="clearfix"></div>

		</div>
		<div class="clearfix"></div>
	</div>
	<!-- header -->
	<!-- our -->
	<div class="Latest">
		<!-- our -->
		<div class="single-bottom2">
			<h6>资助项目列表</h6>
			<div th:each="f:${funds}" class="product">
				<div class="product-desc">
					<div class="product-img">
						<img th:src="@{'img/uploads/fund/' + ${f.f_img}}" src="img/16.jpg"
							class="img-responsive " alt="" />
					</div>
					<div class="prod1-desc">
						<h5>
							<a th:text=${f.f_name} class="product_link" href="fund_info.html"
								th:href="@{'fund_info?f_id=' + ${f.f_id}}">国家开放“绿色通道”</a>
						</h5>
						<p th:text=${f.f_abs} class="product_descr">
							日前，国务院发出《关于建立健全普通本科高校、高等职业学校和中等职业学校家庭经济困难学生资助政策体系的意见》。2007年秋季开学起，新的资助政策将在全国实施。新资助政策让人振奋，含金量高，覆盖面广，资助强度大，帮困奖优并举，在积极促进教育公平的同时，注重优化教育结构。</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="product_price">
					<button class="button1" onclick="show_m1(this)" th:attr="f_id=${f.f_id}">
						<span >申请</span>
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div th:remove="all" class="product">
				<div class="product-desc">
					<div class="product-img">
						<img src="img/2.jpg" class="img-responsive " alt="" />
					</div>
					<div class="prod1-desc">
						<h5>
							<a class="product_link" href="fund_info.html">国家助学金</a>
						</h5>
						<p class="product_descr">
							按照国家将实施的家庭经济困难学生资助政策。其中高等教育阶段，新政策形成了以国家奖学金、励志奖学金、助学金、助学贷款和勤工助学等多种方式相结合的资助体系。
						</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="product_price">
					<button class="button1">
						<span>申请</span>
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div th:remove="all" class="product">
				<div class="product-desc">
					<div class="product-img">
						<img src="img/5.jpg" class="img-responsive " alt="" />
					</div>
					<div class="prod1-desc">
						<h5>
							<a class="product_link" href="fund_info.html">国家助学金</a>
						</h5>
						<p class="product_descr">
							2007年教育部组织的国家资助政策宣讲团先后到山东、四川，深入学校、深入农户，与一些家庭经济困难的学生及其家长进行了面对面的政策解读。
						</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="product_price">
					<button class="button1">
						<span>申请</span>
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div th:remove="all" class="product">
				<div class="product-desc">
					<div class="product-img">
						<img src="img/bg.jpg" class="img-responsive " alt="" />
					</div>
					<div class="prod1-desc">
						<h5>
							<a class="product_link" href="fund_info.html">国家励志奖学金</a>
						</h5>
						<p class="product_descr">
							为进一步加强高校收费管理，增强教育收费透明度，规范高校收费行为，切实维护广大学生和家长的合法权益，近日，国家发展改革委向各地通报了中央部属高校学费标准，并通过门户网站向社会公布。
						</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="product_price">
					<button class="button1">
						<span>申请</span>
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div th:remove="all" class="product">
				<div class="product-desc">
					<div class="product-img">
						<img src="img/1.jpg" class="img-responsive " alt="" />
					</div>
					<div class="prod1-desc">
						<h5>
							<a class="product_link" href="fund_info.html">国家助学</a>
						</h5>
						<p class="product_descr">
							每一名接到高校录取通知书的学生，无一例外都收到了一本绿皮的《高等学校学生资助政策简介》小册子。我们终于相信，经过十年风雨兼程逐步建立并完善的国家资助政策体系，在教育部门和媒体的共同努力下，渐渐做到了家喻户晓。
						</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="product_price">
					<button class="button1">
						<span>申请</span>
					</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="pagenatin">
			<h3 class="ghj"></h3>
			<div class="col-md-6">
				<nav>
					<ul class="pagination">
						<li class="disabled"><a href="#" aria-label="Previous"><span
								aria-hidden="true">«</span></a></li>
						<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#" aria-label="Next"><span
								aria-hidden="true">»</span></a></li>
					</ul>
				</nav>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- footer -->
	<footer class="footer">
		<div class="footer-container">
			<ul>
				<li>联系电话:<a href="">4008208820</a>
				</li>
				<li>电子邮箱:<a href="">12345678@qq.com</a>
				</li>
				<li>联系地址:<a href="">江苏省张家港市杨舍镇长兴中路八号</a>
				</li>

			</ul>
		</div>
		<div class="clearfix"></div>
		<div class="footer-bottom">
			<p>Copyright &copy; 2020. SQA 小宇宙 版权所有</p>
		</div>
	</footer>
	<!-- footer -->
	<a href="#" id="toTop" style="display: block;"><span
		id="toTopHover" style="opacity: 0;"></span> <span id="toTopHover"
		style="opacity: 0;"> </span></a>
	<script>
		function show_m1(e) {
			if ($("#btn-login").css("display") != "none") {
				alert("请先注册/登陆！");
				return;
			}
			var f_id = $(e).attr("f_id")
			console.log(f_id)
			var black_overlay = $("#bo")
			var m1 = $("#m1")
			var sure = $("#m1_sure")
			var cancel = $("#m1_cancel")
			sure.one("click", function() {
				window.location.href = "handle_apply_fund?f_id=" + f_id;
			});
			cancel.on("click", function() {
				black_overlay.hide();
				m1.hide();
			});
			black_overlay.show();
			m1.show();
		}
	</script>
</body>
</html>