<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="css/login.css" />
	</head>
	<body>
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content modal-info">
						<div class="modal-body modal-spa">
							<div class="login-grids">
									<div class="login-right">
										<form action="#" method="post">
											<h3>注册新用户</h3>
											<a href="index.html" class="re-index">返回首页</a>
											<input type="text" value="用户名" name="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
											<input type="text" value="手机号码" name="Mobile number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mobile number';}" required="">
											<input type="text" value="邮箱地址" name="Email id" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email id';}" required="">	
											<input type="password" value="Password" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">	
											
											<input type="submit" value="注册" >
										</form>
									</div>
								
								<p>通过我们的 <span>用户条款</span> 和 <span>隐私保护</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
	</body>
</html>
