<!DOCTYPE html>
<html>
<head>
  <title>首页</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="img/favicon.png">
  <link rel="stylesheet" href="css/amazeui.min.css" />
  <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
  <link href="css/fund.css" rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="css/index.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="assets/layui/css/layui.css">
</head>
<body>
    <!--导航栏开始-->
    <!--导航栏开始-->
    <ul class="layui-nav layui-bg-cyan">
      <li class="layui-nav-item"><a href="">学生信息与贫困资助平台</a></li>
      <li class="layui-nav-item layui-this">
          <a href="">奖助贷</a>
          <dl class="layui-nav-child">
              <dd><a href="">资助项目</a></dd>
              <dd><a href="">勤工助学</a></dd>
          </dl>
      </li>
      <li class="layui-nav-item">
          <a href="">志愿活动</a>
      </li>
      <li class="layui-nav-item">
          <a href="">阳光成才</a>     
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;">服务指南</a>
        <dl class="layui-nav-child">
          <dd><a href="">常见问题FAQ</a></dd>
          <dd><a href="">文件下载</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">
          我的消息<span class="layui-badge">9</span></a>
          
      </li>
      <li class="layui-nav-item">
          <a href=""><img src="img/tx.jpg" class="layui-nav-img"></a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">我的主页</a></dd>
            <dd><a href="javascript:;">我的申请</a></dd>
            <dd><a href="javascript:;">登出</a></dd>
          </dl>
        </li>
  </ul>
<script src="assets/layui/layui.js"></script>
<script>
    layui.use('element', function(){
    var $ = layui.jquery
    ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

    //触发事件
    var active = {
        tabChange: function(){
        //切换到指定Tab项
        element.tabChange('demo', '22'); //切换到：用户管理
        }
    };

    $('.site-demo-active').on('click', function(){
        var othis = $(this), type = othis.data('type');
        active[type] ? active[type].call(this, othis) : '';
    });

    //Hash地址的定位
    var layid = location.hash.replace(/^#test=/, '');
    element.tabChange('test', layid);

    element.on('tab(test)', function(elem){
        location.hash = 'test='+ $(this).attr('lay-id');
    });

    });
</script>

</body>
</html>