<!DOCTYPE HTML>
<html>

<head>
<title>勤工俭学</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/fund.css" rel='stylesheet' type='text/css' />
<link rel="alternate icon" type="image/png" href="img/favicon.png">
<link rel="stylesheet" href="css/userInfo.css" />
<link rel="stylesheet" href="css/index.css" />
<link rel="stylesheet" href="css/con-more.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type='text/javascript' src="js/jquery-1.11.1.min.js"></script>
</head>

<body>
	<!-- header -->
	<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0pt;">
		<ul class="nav navbar-nav ">
			<li ><a href="index.html" style="font-weight: 800;">
				SpringBoot
			</a></li>              
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					奖助贷
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="fund.html">资助项目</a></li>
					<li><a href="work.html">勤工助学</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					阳光助学 
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="vol.html">志愿活动</a></li>
					<li><a href="tycg.html">添翼工程</a></li>
					<li><a href="list.html">榜样典型</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					服务指南 
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="policy.html">政策解读</a></li>
					<li><a href="question.html">常见问题</a></li>
					<li><a href="download.html">文件下载</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					个人中心 
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="login.html">登录/注册</a></li>
					<li><a href="userInfo.html">个人中心</a></li>
					<li><a href="application.html">我的申请</a></li>
				</ul>
			</li>
		</ul>
	</div>
	</div>
</nav>
	<!-- header -->
	<!-- our -->
	<div class="Latest" style="margin-left: 500px">
		<!-- our -->
		<h2 class="para-title" th:text=${work.w_name}>大学城超市收银员</h2>
		<br />
		<br />
		<div class="para-img">
			<img th:src="@{'img/uploads/work/' + ${work.w_img}}" src="img/9.jpg" /><br />
		</div>
		<br />
		<div class="para">
		<p th:text=${work.w_money}>大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市
				收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员
				大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员
			</p>
			<p th:text=${work.w_abs}>大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市
				收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员
				大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员大学传超市收银员
			</p>
		</div>
	</div>
	<!-- footer -->

	<footer class="footer">
		<div class="footer-container">
			<ul>
				<li>联系电话:<a href="">4008208820</a>
				</li>
				<li>电子邮箱:<a href="">12345678@qq.com</a>
				</li>
				<li>联系地址:<a href="">江苏省张家港市杨舍镇长兴中路八号</a>
				</li>

			</ul>
		</div>
		<div class="clearfix"></div>
		<div class="footer-bottom">
			<p>Copyright &copy; 2020. SQA 小宇宙 版权所有</p>
		</div>
	</footer>
	<!-- footer -->
</body>

</html>